@model WebApp.Model.LoginViewModel
@{
    ViewData["Title"] = "Login";
}
<h1>@ViewData["Title"]</h1>
<form method="post" asp-controller="Home" asp-action="Login">
    <fieldset>
        <legend>Login</legend>
        <div>
            @Html.LabelFor(x => x.Email)
            @Html.EditorFor(x => x.Email)
            @Html.ValidationMessageFor(x => x.Email)
        </div>
        <div>
            @Html.LabelFor(x => x.Password)
            @Html.PasswordFor(x => x.Password)
            @Html.ValidationMessageFor(x => x.Password)
        </div>
        <input type="submit" value="Login"/>
    </fieldset>
</form>