@model IEnumerable<DataTransfer.VisitorDto>

@{
    ViewData["Title"] = "Regions";
}
<h1>@ViewData["Title"]</h1>
@foreach (var visitor in Model)
{
    <div>
        <h2>@visitor.Username</h2>
        <p>@visitor.Bio</p>
        <p>
            <a asp-controller="Visitors" asp-action="Display" asp-route-id="@visitor.Id">Display</a>
            <a asp-controller="Visitors" asp-action="Update" asp-route-id="@visitor.Id">Update</a>
            <a asp-controller="Visitors" asp-action="Delete" asp-route-id="@visitor.Id">Delete</a></p>
        <hr />
    </div>
}