@model WebApp.Model.Regions.DisplayRegionModel

@{
    ViewData["Title"] = Model.Name;
}
<h1>@ViewData["Title"]</h1>
<p>@Model.Description</p>
<p><a asp-controller="Regions" asp-action="Update" asp-route-id="@Model.Id">Update</a> <a asp-controller="Regions" asp-action="Delete" asp-route-id="@Model.Id">Delete</a></p>
@if (Model.Visitors != null && Model.Visitors.Count>0)
{
    <h2>Visitors</h2>
    foreach (var visitor in Model.Visitors)
    {
        <p>@visitor.Username</p>
        <p>@visitor.Email</p>
        <p>@visitor.Bio</p>
        <p><a asp-controller="Regions" asp-action="RemoveVisitor" asp-route-regionId="@Model.Id" asp-route-visitorId="@visitor.Id">Remove</a> </p>
        <hr />
    }
}