@model IEnumerable<DataTransfer.RegionDto>

@{
    ViewData["Title"] = "Regions";
}
<h1>@ViewData["Title"]</h1>
<p><a asp-controller="Regions" asp-action="Add">Add</a></p>
@foreach (var region in Model)
{
    <div>
        <h2>@region.Name</h2>
        <p>@region.Description</p>
        <p><a asp-controller="Regions" asp-action="Display" asp-route-id="@region.Id">Display</a> <a asp-controller="Regions" asp-action="Update" asp-route-id="@region.Id">Update</a> <a asp-controller="Regions" asp-action="Delete" asp-route-id="@region.Id">Delete</a></p>
        <hr />
    </div>
}